<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.shop.repository.mybatis.MemberMapper">

    <!--회원 가입-->
    <insert id="join" useGeneratedKeys="true" keyProperty="sequence">
    insert into MEMBER(
        member_id
        , password
        , name
    ) values(
        #{memberId}
        , #{password}
        , #{name}
    )
    </insert>

    <!--회원 로그인-->
    <select id="findByLoginId" resultType="com.shop.shop.domain.Member">
    select *
    from member
    where member_id = #{memberId}
    and password = #{password}
    </select>

</mapper>